{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'movies/css/create.css' %}">
</head>
<body>
    <main>
        <h1>oui oui baguette</h1>
        <div class="inputElements">
            <form>
                <label for="text">Type here</label>
                <input class="input" placeholder="filmId" name="filmId" type="text" />
                <label for="text">Type here</label>
                <input class="input" placeholder="titre" name="titre" type="text" required />
                <label for="text">Type here</label>
                <input class="input" placeholder="description" name="description" type="text" />
                <label for="text">Type here</label>
                <input class="input" placeholder="autor" name="autor" type="text" />
                <label for="text">Type here</label>
                <input class="input" placeholder="release" name="release" type="text" />
                <button>Confirme !</button>
            </form>
        </div>
        
    </main>
</body>
</html>