{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'movies/css/create.css' %}">
</head>
<body>
    <main>
        <h1>oui oui baguette</h1>
        <div class="inputElements">
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <label for="text">Type here</label>
            <input class="input" placeholder="typed here..." name="text" type="text" />
            <button>Confirme !</button>
        </div>
        
    </main>
</body>
</html>