{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'movies/css/index.css' %}">
</head>
<body>
    <main>
        <div class="content-card">
            {% for i in premiersFilms %}
                <div class="card">
                    <div class="card-image"> <img class="card-image" src="{% static "movies/img/' + i.image +'.jpg" %}" alt=""/></div>
                    <div class="category"> {{ i.titre }} </div>
                    <div class="heading"> {{ description }} </div>
                    <div class="author"> By <span class="name">{{ author }}</span> {{ release }}</div>
                </div>
            {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>